<footer>
    <p>&copy;2022 <a href="https://patternbased.com/" target="_blank">PatternBased Corp</a><br/>
    Photo by <a href='https://unsplash.com/@jannerboy62?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText' target="_blank">Nick Fewings</a> on <a href='https://unsplash.com/' target="_blank">Unsplash</a></p>
</footer>