<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <div class="wrapper">
        <nav>
            <a href="/"><div class="logo">
                <img src="images/PatternBased_Logo_6E44FF.svg" alt="">
            </div></a>
            <div class="navItems">
            </div>
        </nav>
        <div class="fullWBanner">
            <h1>// Oops 404 //</h1>
        </div>
    
        <div class="content center">
            <img src="images/goat.svg" width="120" alt="PB Goat">
            <h3><b>You are lost in space.</b></h3>
            <p>Back to <a href="/">Log In page</a></p>
        </div>

    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>